<ion-view view-title="Playlists">
  <ion-content>
    <ion-item>
      <div ng-show="playlists" class="ng-hide list card">
        <div class="item item-avatar" ng-repeat="playlist in playlists"
             ng-click="playlist.showCardBody = showCardBody(playlist)">
          <img src="{{playlist.images[0].url}}">

          <h2>{{playlist.name}}</h2>

          <div ng-show="playlist.showCardBody" class="ng-hide item item-body">
            <div class="card-img">
            <img src="{{playlist.images[0].url}}">
            </div>
            <p class="sp-card-footer">
              <a href="" class="subdued">total tracks: {{playlist.tracks}}</a>
              <a href="" class="subdued">owner: {{playlist.owner}}</a>
            </p>

            <a class="button icon-right ion-chevron-right button-clear button-dark" href="#/app/playlists/{{category}}/{{playlist.id}}">Check tracks</a>
          </div>
        </div>
      </div>
    </ion-item>
  </ion-content>
</ion-view>
