<ion-popover-view>
  <ion-content>
    <ion-list>
      <ion-item menu-close href="#/app/search" title="search for categories" >
        Search
      </ion-item>
      <ion-item menu-close href="#/app/browse" title=" browse something">
        Browse
      </ion-item>
      <ion-item menu-close href="#/app/categories" title="go to categories">
        Categories
      </ion-item>
      <ion-item menu-close ng-click="logout()" title="log out">
        Logout
      </ion-item>
  </ion-content>
</ion-popover-view>
