<ion-view view-title="Search">
  <ion-content>
    <label class="item item-input item-floating-label">
      <label class="input-label">Search categories</label>
      <input type="text" placeholder="Search in categories" ng-model='category.name'>
    </label>

    <ion-item ng-repeat="category in categories | filter:category:strict"
              href="#/app/playlists/{{category.id}}" title="go to choosen category: {{category.name}}">
      <h2>{{category.name}}</h2>
    </ion-item>
  </ion-content>
</ion-view>
